body{
    margin: 0;
}
header{
    width: 100%;
    height: 80px;
    display: flex;
}
.main{
    display: flex;
    width: 100%;
    height: calc(100% - 80px);
    position: absolute;
}
#center-part{
    min-width: 50%;
    padding: 15px;
    background-color: #ffffff;
    flex: 1 1 80%;
    position: relative;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: column;
}
.center-top{
    flex: 0 0 95%;
}
.center-bottom{
    flex: 0 0 5%;
}
.top-left{
    flex: 0 0 20%;
    max-width: 220px;
    min-width: 180px;
    background-color: #808285;
}
.top-right{
    flex: 1 1 80%;
    line-height: 80px;
    padding-right: 10px;
    background-color: #ffffff;
    border-bottom: 1px #d1d3d4 solid;
}
.log{
    float: right;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 18px;
}
.settings{
    flex: 0 0 20%;
    max-width: 220px;
    min-width: 180px;
    list-style: none;
    padding: 0;
    background-color: #ffffff;
    margin: 0;
    border-right: 1px #d1d3d4 solid;
    line-height: 50px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 18px;
}
.manage{
    height: 50px;
    margin: 0;
    background-color: #3e8ecf;
    font-weight: bold;
    color: white;
    text-align: center;
}
.sets{
    padding-left: 10px;
    height: 50px;
    margin: 0;
    color: black;
    cursor: pointer;
}
.sets:hover{
    background-color: #e6e7e8;
    transition: 0.5s;
}
.buttonStyle{
    outline: none;
    padding: 0 10px 0 10px;
    height: 25px;
    background-color: #3e8ecf;
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 17px;
    border: none;
    border-radius: 3px;
    margin: 5px;
}
.roundButton{
    outline: none;
    margin-left: 20px;
    width: 28px;
    height: 28px;
    border-radius: 15px;
    background-color: white;
    border: #3e8ecf 1px solid;
    color: #3e8ecf;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 18px;
}
.roundButton:hover, .buttonStyle:hover{
    background-color: #67a2d6;
    color: white;
    transition: 0.3s;
    cursor: pointer;
}
.inputField{
    padding: 5px 0 0 0;
    height: 20px;
    width: 400px;
    color: #275780;
    margin-top: 2px;
}

.roundButton:active{
    background-color: #275780;
    border: #3e8ecf 1px solid;
    color: white;
}
.table-line{
    background-color: #e6e7e8;
    color: black;
}
.select-style{
    border-radius: 2px;
    cursor: pointer;
    margin-top: 4px;
    border: #3e8ecf 1px solid;
    color: #3e8ecf;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 18px;
    margin-right: 30px;
}
.select-style:hover{
    color: #275780;
    transition: 0.5s;
}
table{
    width: 100%;
    border-spacing: 0;
    margin-top: 15px;
}
tr{
    border-top: #d1d3d4 1px solid;
}
tr:nth-child(2n){
    background-color: #f6f7f8;
}
th{
    color: #858688;
    font-weight: normal;
    text-align: left;
}
@media all and (max-width: 800px) {
    .buttonStyle{
        margin: 5px 5px 5px 0;
    }
    .inputField{
        padding: 0;
        margin: 0;
        width: 140px;
    }
    .select-style{
        margin-right: 0;
    }
    .activity{
        flex-direction: column;
    }
    td{
        border-right: #d1d3d4 1px solid;
    }
}
